.customSelect {
    width: 100px;
    border: 1px solid black;
    padding: 2px;
}

.items {
    border-top: 1px solid black;
}

.selected {
    font-weight: bold;
}

.selectedItem {
    background-color: cornflowerblue;
}

.item:hover {
    background-color: blue;
    color: white;
}