.onOff {
    margin: 10px;
}

.buttonOnOF {
    display: inline-block;
    height: 20px;
    width: 30px;
    padding: 5px;
    border: 1px solid black;
}

.indicator {
    display: inline-block;
    margin-left: 5px;
    width: 20px;
    height: 20px;
    border: 1px solid black;
    border-radius: 10px;
}

.on {
    background-color: green;
}

.off {
    background-color: red;
}