.App {
    width: 600px;
    margin: 20px auto
}

.clock {
    position: relative;
    height: 160px;
    width: 160px;
    border: 2px solid black;
    border-radius: 80px;
}

.hour-hand {
    margin: auto;
    position: absolute;
    left:0;
    right: 0;
    top: 0;
    bottom: 0;
    height: 150px;
    width: 2px;
}

.minute-hand {
    margin: auto;
    position: absolute;
    left:0;
    right: 0;
    top: 0;
    bottom: 0;
    height: 150px;
    width: 1.5px;
}

.second-hand {
    margin: auto;
    position: absolute;
    left:0;
    right: 0;
    top: 0;
    bottom: 0;
    height: 150px;
    width: 1px;
}

.hour-hand-child {
    margin-bottom: 75px;
    height: 75px;
    background-color: black;
}

.minute-hand-child {
    margin-bottom: 75px;
    height: 75px;
    background-color: red;
}

.second-hand-child {
    margin-bottom: 75px;
    height: 75px;
    background-color: grey;
}

.digital {
    font-size: 230%;
}

.button {
    width: 160px;
    height: 50px;
    margin-top: 8px;
    font-size: 130%;
}